/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6d6d;
}
a {
  text-decoration: none;
}
header {
  width: 90%;
  padding: 15px0;
  margin: 0auto;
  text-align: center;
}
header.heading {
  font-size: 32px;
}
.nav-list {
  text-align: center;
  padding: 10px o;
  margin: 0auto;
}
.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
.main-visual {
  /* 横幅全部高さ300px背景オレンジ */
  width: 100%;
  height: 300px;
}
.main-visual-content {
  /* メインビジュアルの左の方 */
  width: 350px;
  height: 300px;
}
.main {
  /*  */
  width: 840px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.blog {
  width: 600px;
  height: 1400px;
}
.sidebar {
  width: 240px;
  height: 1400px;
}
.footer {
  /* 横幅全部高さ120px背景青 */
  width: 100%;
  height: 120px;
  text-align: center;
  line-height: 120px;
  background-color: #848288;
}
.footer-text {
  color: #fff;
}
